<p id="notice"><%= notice %></p>

<h1>Candidates Information </h1>
<p><%= link_to new_candidate_path do %>
  <h3>Add New Candidate<h3/> 
  <% end %>
</p>


<div class="row">
    <% @candidates.each do |candidate| %>
      <div class="col-md-3">
        <div class="well">
        
           <h2><%= link_to candidate.first_name, candidate %></h2>
           <h2><%= link_to candidate.last_name, candidate %></h2>

           <% if candidate.resume_file_name != nil %>
          <%= link_to "Resume", @candidate.resume.url(:medium), class: "img-responsive" %><br/ >
          <% end %>

          <p>
            <%= link_to edit_candidate_path(candidate) do %><span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          
          <%= link_to candidate, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-trash"></span>
          <% end %>
          </p>
        </div>
      </div>
    <% end %>
</div>




