<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @candidate.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @candidate.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @candidate.phone_number %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @candidate.em_addr %>
</p>

<p>
  <strong>City:</strong>
  <%= @candidate.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @candidate.state %>
</p>

<p>
  <strong>Username:</strong>
  <%= @candidate.u_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @candidate.p_word %>
</p>
<p>
  <strong>Link:</strong>
  <%= @candidate.link %> 
<p>
  <%= link_to "Resume", @candidate.resume.url %>
</p>
<p>
  <%= link_to "Delete Resume", delete_attachment_path(id: @candidate.id, kind: "resume"), class: "btn btn-danger btn-xs" %>
</p>


<div class=:"btn-group">
<%= link_to 'Edit', edit_candidate_path(@candidate), class: "btn btn-success" %> |
<%= link_to 'Back', candidates_path, class: "btn btn-danger" %>
</div>
